.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
  }
  
  
  .circle,
  .triangle,
    .square
       {
        position: absolute;
        /* Offset by half the size of each shape to center it */
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        animation-duration: 50s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 50% 50%;
      }

      .circle {
        width: 120px;
        height: 120px;
        /* background: rgba(211, 216, 224, 0.2); */
        background: rgba(102, 148, 222, 0.2);
        border-radius: 50%;
        animation-name: circleMove;
      }


      .triangle {
        width: 0;
        height: 0;
        border-left: 62px solid transparent;
        border-right: 62px solid transparent;
        /* border-bottom: 120px solid rgba(211, 217, 225, 0.2); */
        border-bottom: 120px solid rgba(47, 208, 244, 0.2);
        animation-name: triangleMove;
      }

      .square {
        width: 120px;
        height: 120px;
        background: rgba(234, 237, 240, 0.2);
        animation-name: squareMove;
      }

 
       @keyframes circleMove {
        0%,
        24%,
        48%,
        72%,
        100% {
          top: calc(50vh - 5rem);
          left: calc(50vw - 5rem);
        }
        12% {
          top: 0;
          left: 0;
        }
        36% {
          top: 0;
          left: calc(100vw - 10rem);
        }
        60% {
          top: calc(100vh - 12rem);
          left: calc(100vw - 10rem);
        }
        84% {
          top: calc(100vh - 12rem);
          left: 0;
        }
      }  

       @keyframes triangleMove {
        0%,
        24%,
        48%,
        72%,
        100% {
          top: calc(50vh - 5rem);
          left: calc(50vw - 5rem);
          transform: rotate(0deg);
        }
        12% {
          top: 0;
          left: calc(100vw - 12rem);
          transform: rotate(43.2deg);
        }
        36% {
          top: calc(100vh - 12rem);
          left: calc(100vw - 12rem);
          transform: rotate(129.6deg);
        }
        60% {
          top: calc(100vh - 12rem);
          left: 0;
          transform: rotate(216deg);
        }
        84% {
          top: 0;
          left: 0;
          transform: rotate(302.4deg);
        }
      } 

       @keyframes squareMove {
        0%,
        24%,
        48%,
        72%,
        100% {
          top: calc(50vh - 5rem);
          left: calc(50vw - 5rem);
          transform: rotate(0deg);
        }
        12% {
          top: calc(100vh - 12rem);
          left: calc(100vw - 12rem);
          transform: rotate(43.2deg);
        }
        36% {
          top: calc(100vh - 12rem);
          left: 0;
          transform: rotate(129.6deg);
        }
        60% {
          top: calc(2rem);
          left: 0;
          transform: rotate(216deg);
        }
        84% {
          top:  calc(2rem);
          left: calc(100vw - 12rem);
          transform: rotate(302.4deg);
        }
      }  
   