header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 42rem;

    background-image: url('../ComponentImages/Header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
} 


.headerClass {
  font-size: 2rem;
}

.lineContainer {
  margin-bottom: 5rem;
}

.text1 {
  font-size: 3rem;
  color: #dfecfa;
  font-weight: bolder;
  text-shadow: 0 0 5px #1E293B, 0 0 10px #ffffff, 0 0 15px #4367af, 0 0 20px #4367af, 0 0 25px #a7b4cd, 0 0 30px #4a915e, 0 0 35px #4a915e;
  
}

.text3 {
  font-size: 3rem;
  color: #c2dbc9;
  font-weight: bolder;
  text-shadow: 0 0 , 0 0 15px #4367af, 0 0 20px #4367af, 0 0 25px #4a915e, 0 0 30px #4367af, 0 0 35px #4367af;
}

.handIcon {
  margin-right: 1rem;
}

.text2 {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, #f0ed90 50%, transparent 50%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: animate 20s linear infinite alternate;
}

  
@keyframes animate {
    0% {
      background-position: 100% 0;
    }
    30% {  /* Adjust this percentage based on how fast you want the reveal animation */
      background-position: 0 0;
    }
    90% {  /* This will make the text stay fully visible from 20% to 80% of the animation duration */
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}



@media only screen and (max-width: 600px) {

  header {
  
    background-image: url('../ComponentImages/HeaderMobile.jpg');
    background-image: url('../ComponentImages/HeaderMobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
  }

  .lineContainer {
    width: 95%;
    margin: auto;
    padding-bottom: 5rem;
  }

  .text1 {
    font-size: 1.8rem; 
    }

    .text2 {
      position: relative;
      background-image: linear-gradient(to right, #f0ed90 50%, transparent 50%);
      font-size: 1.8rem;
    }

    .text3 {
      font-size: 1.8rem;
      }

}

  

