.skillsSection {
    padding:1.8rem;
    min-height: 50rem;
  }
  
.skillsHeading {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  color: #3f4e67;
  text-shadow: 0.12rem 0.11rem 0.08rem #7e9ad3,   0.20rem 0.18rem 0.2rem #788eb7; 
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-around ;
    border: 0.2rem solid #314f81;
    border-radius: 1rem;
    margin: 3.3rem 25%;
    animation: border 3s infinite alternate;
}

@keyframes border {
    0% {
      border-color: #1ac31a;
    }
    50% {
      border-color: #d3b613;
    }
    100% {
      border-color: #073064;
    }
}
  
.skillItem {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 4rem);
    align-items: center;
    margin: 2rem;
}


  
  .skillIcon {
    width: 3.5rem; 
    height: 3.5rem;
  }
  
  .skillName {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold ;
    color: #3d5b84;
  }

  
  @media only screen and (max-width: 600px) {

    .skillsSection {
      padding:0.5rem;
      min-height: rem;
    }
  
    .skillsHeading {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    
    .skillsContainer {
      padding: 1rem;
      margin: 1.5rem 10%; /* Reduce the horizontal margin to give more space on smaller screens */
      border-radius: 0.8rem;
    }
    
    .skillItem {
      flex-basis: calc(50% - 4rem); /* Make each skill item take about half the width of the container, minus some margin */
      margin: 1rem;
    }
  
    .skillIcon {
      width: 3.5rem; 
      height: 3.5rem;
    }
  
    .skillName {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }
  
  }
  