.skillsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    min-height: 50rem;
    
    background-image: url('../ComponentImages/Skills.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh
  }
  
.skillsHeading {
  align-self: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #c4deff;
  text-shadow: 0 0 5px #bbb4c9, 0 0 10px #920f85, 0 0 15px #1f125d, 0 0 20px #940d96,  0 0 25px #107b3b, 0 0 30px #2b1b86, 0 0 35px #46328a;

}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 7rem;
  margin-bottom: 5rem;
  padding: 1rem;
  justify-content: center;
  border: 0.2rem solid #314f81;
  border-radius: 1rem;
  animation: border 3s infinite alternate;
}

@keyframes border {
  0% {
    border-color: #c4deff;
  }
  50% {
    border-color: #314f81;
  }
  100% {
    border-color: #c4deff;
  }
}


.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.7rem;
  border: 0.2rem solid #c4deff; 
  border-radius: 50%;  
  padding: 1rem;
  width: 6.4rem;  
  height: 6.5rem;  
  background-color: #222730;
  box-shadow: 0 0 5px #033375, 0 0 10px #033375, 0 0 20px #c4deff; 
}
  
  .skillIcon {
    width: 4rem; 
    height: 4rem;
    padding-top: 0.7rem;
  }
  
  .skillName {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    font-weight: bold ;
    color: #c4deff;
  }

  
  @media only screen and (max-width: 600px) {
    .skillsSection {
      background-image: url('../ComponentImages/SkillsMoblie.jpg');
      background-image: url('../ComponentImages/SkillsMoblie.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh
      }
    

      .skillsHeading {
        margin-top: 2rem;
        font-size: 2.2rem;
      }
    
    .skillsContainer {
      width: 19rem;
      height: 27rem;
      overflow: auto;
      margin-top: 2rem;
    }

    .skillItem {
   
      margin: 1rem; 
      padding: 0.6rem;
      width: 5.7rem;  
      height: 5.8rem;  
      background-color: #222730;
      box-shadow: 0 0 5px #033375, 0 0 10px #033375, 0 0 20px #c4deff; 
    }
    
    .skillIcon {
      width: 3.4rem; 
      height: 3.4rem;
      padding-top: 0.6rem;
    }

    .skillName {
      margin-top: 0.6rem;
      font-size: 0.9rem;
    }
                  /* SCROLLBAR */
::-webkit-scrollbar {
  width: 0rem;
}

    
  }
  