.upIcon {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    z-index: 100;
    font-size: 2.5rem;
    color: #c4deff;
    filter: drop-shadow(0 0 8px #c4deff);
    animation: bounce 1s infinite alternate;
} 

@keyframes bounce {
  from {
      transform: translate(0, 0.2rem);
  }
  to {
      transform: translate(0, -0.2rem);
  }
}

.upIcon:hover {
    color: #819cdc;
    cursor: pointer;
  }
  
  .upIcon:active {
    color: #ced9ea;
  }


  @media only screen and (max-width: 600px) {
    .upIcon {
     
      bottom: 1.4rem;
      right: 1.4rem;
     
      font-size: 2.4rem;
  } 
  
  }